html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.item {
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border:1px solid black;
}

.flex-g-1 {
    flex-grow: 1;
}

.flex-g-2 {
    flex-grow: 2;
}

@media only screen and (min-width: 320px) {
    body {
        background-color: red;
    }

    .container {
        width: 300px;
    }

    .item {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) {
    body {
        background-color: orangered;
    }

    .container {
        width: 400px;
    }

    .item {
        width: 150px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: orange;
    }

    .container {
        width: 700px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: yellow;
    }

    .container {
        width: 900px;
    }

    .item {
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: yellowgreen;
    }

    .container {
        width: 1000px;
    }

    .item {
        width: 300px;
    }
}

@media only screen and (min-width: 1824px) {
    /* Styles */
    body {
        background-color: green;
    }

    .container {
        width: 1800px;
    }
}