.centerAlign {
    text-align: center;
}

.upScale {
    width: 100%;
    transition: width 0.5s ease;

}

.noHyperLinks,
.noHyperLinks:hover {
    color: white;
    text-decoration: none;

}

.blueBackground {
    background-color: #189AD3;
}

.upScale:hover {

    width: 105%;

}

.noPadding {
    padding: 0px;
}

.noMargins {
    margin-left: 0px;
    margin-right: 0px;
}

.topPadding {
    padding-top: 30px;
}

.topMargin {
    margin-top: 20px;
}

.star {

    background-image: url('/images/star.png');
    background-size: 25px 24px;
    min-width: 25px;
    min-height: 24px;
    display: inline-block;
}

.glow {

    background-image: url('/images/starGlow.png');
    background-size: 25px 24px;
    min-width: 25px;
    min-height: 24px;
    display: inline-block;
}